@charset "utf-8";
#map {
  height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0px;
  background-color: black;
  padding: 0;
}

#map {
height: 50%;
width: 100%;
margin: 10px;
background-color: #ccc;
}


.container{
  width: 50%;
  background: #e7e7e7;
  height: 40px;
  margin: 50px auto;
  border-radius: 2px;
}
.card h2{
  padding: 5px 0;
  text-align: center;
  font-family: "Nunito",sans-serif;
  color: grey;
}
#showMetheForecast{
  color: white;
  font-family: "Nunito",sans-serif;
  font-weight:bold;
  font-size: 20px;

}
.input{
text-align: center;
margin:10px auto;
}

input[type="submit"]{
padding: 15px 30px;
background: green;
color: white;
border: none;
border-radius: 1px;
font-family: "Nunito",sans-serif;
font-weight:bold;
font-size: 20px;
}

.input input[type="text"]{
width: 600px;
height: 55px;
padding: 5px 10px;
background: #e7e7e7;
border: none;
border-radius: 1px;
font-family: "Nunito",sans-serif;
font-weight:bold;
font-size: 20px;
}
